* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    margin-top: 16px;
}

body {
    background-color: lightblue;
}

main {
    margin-left: 38px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 620px;
}

header {
    display: flex;
    width: 75%;
    height: 48px;
    margin-top: 40px;
    margin-left: 88px;
}

#entrada {
    width: 580px;
    margin-right: 20px;
    margin-left: 20px;
}

textarea {
    width: 100%;
    border-radius: 15px;
    border-color: #0A3871;
    background-color: rgb(182, 204, 211);
    height: 85%;
    padding: 8px;
    resize: none;
    margin-top: 10px;
    font-size: 20px;
}

#texto {
    height: 90%;
    display: block;
    margin-top: 8px;
}

#botones {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.boton {
    height: 37px;
    width: 166px;
    border-radius: 12px;
    padding: 10px;
    border-color: #0A3871;
}

#enc, #copiar {
    background-color: #0A3871;
    color: white;
}

#enc:hover, #copiar:hover {
    background-color: #D8DFE8;
    color: #0A3871;
}

#des {
    background-color: #D8DFE8;
    color: #0A3871;
}

#des:hover {
    background-color: #0A3871;
    color: white; 
}

#salida {
    z-index: 0;
    top: 80%;
    background-color: aliceblue;
    margin-top: -47px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 340px;
}

#salida img {
    width: 75%;
}

footer {
    justify-content: center;
    display: flex;
    position: relative;
    height: 35px;
    margin-top: 10px;
}

#vacio {
    justify-content: center;
    margin-top: 35%;
}

#novacio {
    display: none;
    height: 100%;
}

.separa {
    display: none;
}

@media screen and (min-width:320px) and (max-width:480px) {
    body, main {
        display: block;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    main {
        height: fit-content;
        width: auto;
        justify-content: center;
        justify-self: center;
    }

    header {
        margin-left: auto;
        justify-items: center;
    }

    #entrada {
        width: 90%;
        height: fit-content;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
    }

    #salida {
        background-color: aliceblue;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        width: 90%;
    }

    .boton {
        height: 3rem;
        border-radius: 12px;
        padding: 10px;
        border-color: #0A3871;
        margin-top: 5px;
    }


    #botones {
        justify-content: center;
        text-align: center;
        display: block;
    }



    textarea {
        height: 30rem;
        width: 95%;
    }


    footer {
        height: 4rem;
    }

    #enc, #copiar, #enc:hover, #copiar:hover {
        background-color: #0A3871;
        color: white;
        width: 100%;
        
    }
    
    #enc:active, #copiar:active {
        background-color: #D8DFE8;
        color: #0A3871;
        width: 100%;
    }
    
    #des, #des:hover {
        background-color: #D8DFE8;
        color: #0A3871;
        width: 100%;
    }
    
    #des:active {
        background-color: #0A3871;
        color: white; 
        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    body, main {
        display: block;
    }

    main {
        height: fit-content;
    }

    header {
        margin-left: auto;
        justify-items: center;
    }

    #entrada {
        width: 90%;
        height: 30rem;
        margin-right: 10px;
        margin-left: 10px;
    }

    #salida {
        background-color: aliceblue;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        width: 90%;
    }

    .boton {
        height: 3rem;
        width: 8rem;
        border-radius: 12px;
        padding: 10px;
        border-color: #0A3871;
        margin-top: 5px;
    }

    footer {
        height: 4rem;
    }

    #enc, #copiar, #enc:hover, #copiar:hover {
        background-color: #0A3871;
        color: white;
    }
    
    #enc:active, #copiar:active {
        background-color: #D8DFE8;
        color: #0A3871;
    }
    
    #des, #des:hover {
        background-color: #D8DFE8;
        color: #0A3871;
    }
    
    #des:active {
        background-color: #0A3871;
        color: white; 
    }
}
